﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <ul>
        <li>
            <a class="nav-link" asp-area=""
               asp-controller="EmployeeWorkingTimeReport"
               asp-action="Index"
               asp-route-customerId="1"
               asp-route-staffId="192">
                Báo Cáo Chấm Công
            </a>
        </li>
        <li>
            <a class="nav-link" asp-area=""
               asp-controller="EmployeeWorkingTimeReport"
               asp-action="ReportV2"
               asp-route-customerId="1"
               asp-route-staffId="192">
                Báo Cáo Chấm Công V2
            </a>
        </li>
        <li>
            <a class="nav-link" asp-area=""
               asp-controller="EmployeeWorkingTimeReport"
               asp-action="TimeReportStaffAndSup"
               asp-route-customerId="1"
               asp-route-staffId="192">
                Báo Cáo Chấm Công GSBH
            </a>
        </li>
        <li>
            <a class="nav-link" asp-area=""
               asp-controller="EmployeeWorkingTimeReport"
               asp-action="TimeReportStaffAndSup"
               asp-route-customerId="1"
               asp-route-staffId="193">
                Báo Cáo Chấm Công NVBH
            </a>
        </li>
        <li>
            <a class="nav-link" asp-area=""
               asp-controller="Help"
               asp-action="Index">
                Help
            </a>
        </li>
    </ul>
</div>
