﻿@{
    ViewData["Title"] = "Báo Cáo Chấm Công";
}

<input type="hidden" id="hidReportApiUrl" value="@ViewData["ReportApiUrl"]"/>
<input type="hidden" id="hidAuthToken" value="@ViewData["authToken"]"/>
<input type="hidden" id="hidDateFrom" value="@ViewData["dateFrom"]"/>
<input type="hidden" id="hidDateTo" value="@ViewData["dateTo"]"/>
<input type="hidden" id="hidPageSize" value="@ViewData["pageSize"]"/>
<input type="hidden" id="hidPage" value="@ViewData["page"]"/>
<input type="hidden" id="hidStaffId" value="@ViewData["staffId"]"/>
<input type="hidden" id="hidCustomerId" value="@ViewData["customerId"]"/>
<div class="row app-divider-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <input id="dpFrom" class="app-form-control" placeholder="Date from" value="@ViewData["dateFrom"]"/>
        <input id="dpTo" class="app-form-control" placeholder="Date to" value="@ViewData["dateTo"]"/>
        <button id="btnViewReport" type="button" class="btn btn-sm btn-primary">Xem</button>
    </div>
</div>
<div class="row app-divider-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="mr-sm-2 app-label">Ngày LV</span>
        <span class="mr-sm-2"><strong id="headerWorkingDay"></strong></span>
        <span class="col-1">&nbsp;</span>
        <span class="mr-sm-2 app-label">Định mức TT:</span>
        <span>&nbsp;</span>
        <span class="mr-sm-2 app-label">SS</span>
        <span class="mr-sm-2"><strong id="ssMoneyLevel"></strong></span>
        <span class="col-1">&nbsp;</span>
        <span class="mr-sm-2 app-label">SM</span>
        <span class="mr-sm-2"><strong id="smMoneyLevel"></strong></span>
    </div>
</div>
<div id="grid" class="app-grid"></div>

@section Scripts {
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
    @* <script src="~/lib/kendo/js/kendo.core.min.js"></script> *@
    @* <script src="~/lib/kendo/js/kendo.data.min.js"></script> *@
    @* <script src="~/lib/kendo/js/kendo.grid.min.js"></script> *@
    @* <script src="~/lib/kendo/js/kendo.datepicker.min.js"></script> *@
    @* <script src="~/lib/kendo/js/kendo.web.min.js"></script> *@
    @* <script src="~/js/mock-report-data.js"></script> *@
    <script src="~/js/employee-time-report.js" asp-append-version="true"></script>
}

