﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Report</title>
</head>
<body style="margin: 0">
<iframe src="https://rptpltc.2soft.vn/EmployeeWorkingTimeReport?customerId=1&staffId=1" 
        style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    Your browser doesn't support iframes
</iframe>
</body>
</html>