@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Báo Cáo Chấm Công</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/kendo/styles/kendo.common.min.css" />
        <link rel="stylesheet" href="~/lib/kendo/styles/kendo.default.min.css" />
        <link rel="stylesheet" href="~/lib/kendo/styles/kendo.default.mobile.min.css" />
        @* <link rel="stylesheet" href="~/lib/kendo/styles/kendo.office365.min.css" /> *@
        @* <link rel="stylesheet" href="~/lib/kendo/styles/kendo.office365.mobile.min.css" /> *@
        <link rel="stylesheet" href="~/css/employee_time_working_report_v2.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/kendo/styles/kendo.common.min.css" />
        <link rel="stylesheet" href="~/lib/kendo/styles/kendo.default.min.css" />
        <link rel="stylesheet" href="~/lib/kendo/styles/kendo.default.mobile.min.css" />
        <link rel="stylesheet" href="~/css/employee_time_working_report_v2.css" asp-append-version="true" />
    </environment>
</head>
<body>
<div class="container-fluid body-content">
    <input type="hidden" id="hidReportApiUrl" value="@ViewData["ReportApiUrl"]"/>
    <input type="hidden" id="hidAuthToken" value="@ViewData["authToken"]"/>
    <input type="hidden" id="hidDateFrom" value="@ViewData["dateFrom"]"/>
    <input type="hidden" id="hidDateTo" value="@ViewData["dateTo"]"/>
    <input type="hidden" id="hidPageSize" value="@ViewData["pageSize"]"/>
    <input type="hidden" id="hidPage" value="@ViewData["page"]"/>
    <input type="hidden" id="hidStaffId" value="@ViewData["staffId"]"/>
    <input type="hidden" id="hidCustomerId" value="@ViewData["customerId"]"/>
    <div class="row app-divider-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input id="dpFrom" class="app-form-control" placeholder="Date from" value="@ViewData["dateFrom"]"/>
            <input id="dpTo" class="app-form-control" placeholder="Date to" value="@ViewData["dateTo"]"/>
            <button id="btnViewReport" type="button" class="btn btn-sm btn-primary">Xem</button>
        </div>
    </div>
    <div class="row app-divider-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span class="mr-sm-2 app-label">Ngày LV</span>
            <span class="mr-sm-2"><strong id="headerWorkingDay"></strong></span>
            <span class="col-1">&nbsp;</span>
            <span class="mr-sm-2 app-label">Định mức TT:</span>
            <span>&nbsp;</span>
            <span class="mr-sm-2 app-label">SS</span>
            <span class="mr-sm-2"><strong id="ssMoneyLevel"></strong></span>
            <span class="col-1">&nbsp;</span>
            <span class="mr-sm-2 app-label">SM</span>
            <span class="mr-sm-2"><strong id="smMoneyLevel"></strong></span>
        </div>
    </div>
    <div id="grid" class="app-grid"></div>
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
</environment>
<script src="~/lib/kendo/js/kendo.all.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/employee-time-report-staff-sup.js" asp-append-version="true"></script>
</body>
</html>
