﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
body {
  padding-top: 0px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.app-divider-row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.app-responsive-font {
  font-size: 16px;
}

.app-form-toolbar {
  padding: 5px;
}

.app-label {
  font-weight: bold;
  color: slategray;
}

.app-grid-header {
  font-weight: bold;
  color: slategray;
}

.grid-header-left {
  text-align: left!important;
}

.grid-header-right {
  text-align: right!important;
}

.grid-header-center {
  text-align: center!important;
}

.app-responsive-icon {
  width: 24px;
}

.app-col-size-20 {
  width: 20px;
}

.app-col-size-30 {
  width: 30px;
}

.app-col-size-50 {
  width: 50px;
}

.app-col-size-100 {
  width: 100px;
}

.app-col-size-150 {
  width: 150px;
}

.app-grid-detail {
  background-color: #e0e0e0;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  html {
    font-size: 8px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 8px;
  }

  .app-responsive-font {
    font-size: 8px;
  }

  .app-responsive-icon {
    width: 10px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 15px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  html {
    font-size: 8px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 8px;
  }

  .app-responsive-font {
    font-size: 8px;
  }

  .app-responsive-icon {
    width: 10px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 15px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  html {
    font-size: 9px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 8px;
  }

  .app-responsive-font {
    font-size: 8px;
  }

  .app-responsive-icon {
    width: 10px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 15px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  html {
    font-size: 8px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 8px;
  }

  .app-responsive-font {
    font-size: 8px;
  }

  .app-responsive-icon {
    width: 10px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 15px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  html {
    font-size: 8px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 8px;
  }

  .app-responsive-font {
    font-size: 8px;
  }

  .app-responsive-icon {
    width: 10px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 15px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  html {
    font-size: 8px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 8px;
    text-overflow: unset!important;
  }

  .app-responsive-font {
    font-size: 8px;
  }

  .app-responsive-icon {
    width: 10px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 15px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  html {
    font-size: 9px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 9px;
    text-overflow: unset!important;
  }

  .app-responsive-font {
    font-size: 9px;
  }

  .app-responsive-icon {
    width: 12px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 30px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  html {
    font-size: 9px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 9px;
    text-overflow: unset!important;
  }

  .app-responsive-font {
    font-size: 9px;
  }

  .app-responsive-icon {
    width: 12px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 30px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  html {
    font-size: 10px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 10px;
    text-overflow: unset!important;
  }

  .app-responsive-font {
    font-size: 10px;
  }

  .app-responsive-icon {
    width: 12px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 20px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  html {
    font-size: 10px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 10px;
    text-overflow: unset!important;
  }

  .app-responsive-font {
    font-size: 10px;
  }

  .app-responsive-icon {
    width: 12px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 20px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  html {
    font-size: 9px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 9px;
    text-overflow: unset!important;
  }

  .app-responsive-font {
    font-size: 9px;
  }

  .app-responsive-icon {
    width: 12px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 20px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  html {
    font-size: 9px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 9px;
    text-overflow: unset!important;
  }

  .app-responsive-font {
    font-size: 9px;
  }

  .app-responsive-icon {
    width: 12px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 20px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  html {
    font-size: 10px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 10px;
    text-overflow: unset!important;
  }

  .app-responsive-font {
    font-size: 10px;
  }

  .app-responsive-icon {
    width: 12px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 20px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  html {
    font-size: 10px;
  }

  .app-grid,
  .app-grid table,
  .app-grid tr,
  .app-grid th,
  .app-grid td {
    font-size: 10px;
    text-overflow: unset!important;
  }

  .app-responsive-font {
    font-size: 10px;
  }

  .app-responsive-icon {
    width: 12px;
  }

  .app-col-size-20 {
    width: 10px;
  }

  .app-col-size-30 {
    width: 20px;
  }

  .app-col-size-50 {
    width: 25px;
  }

  .app-col-size-100 {
    width: 50px;
  }

  .app-col-size-150 {
    width: 75px;
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}
