﻿@media screen and (min-width: 1001px) {

  .body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .app-divider-row {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .app-responsive-font {
    font-size: 16px;
  }

  .app-form-toolbar {
    padding: 5px;
  }

  .app-label {
    font-weight: bold;
    color: slategray;
  }

  .app-grid-header {
    font-weight: bold;
  }

  table {
    border-collapse: collapse!important;
  }

  table thead th {
    background-color: #08979C!important;
    border: 1px solid #000000!important;
  }

  table tbody td {
    border: 1px solid #000000!important;
  }

  .grid-header-left {
    text-align: left!important;
  }

  .grid-header-right {
    text-align: right!important;
  }

  .grid-header-center {
    text-align: center!important;
  }

  .app-responsive-icon {
    width: 24px;
  }

  .app-col-size-20 {
    width: 20px;
  }

  .app-col-size-30 {
    width: 30px;
  }

  .app-col-size-50 {
    width: 50px;
  }

  .app-col-size-100 {
    width: 100px;
  }

  .app-col-size-150 {
    width: 150px;
  }

  .app-grid-detail {
    background-color: #e0e0e0;
  }

  .app-cell-highlight {
    background-color: #6fbf73;
  }
}

@media screen and (max-width: 600px) {

  table thead th {
    background-color: #08979C!important;
    border-left: 1px inset  #000000!important;
  }

  table tbody td {
    border-left: 1px inset  #000000!important;
  }

  .app-responsive-font {
    font-size: 10px;
  }

  .app-responsive-icon {
    width: 12px;
  }

  .app-divider-row {
    font-size: 10px;
  }

  .app-divider-row button {
    font-size: 10px!important;
  }
}

@media screen and (max-width: 1000px) {

  table thead th {
    background-color: #08979C!important;
    border-left: 1px inset  #000000!important;
    border-top: 1px inset  #000000!important;
  }

  table tbody td {
    border-left: 1px inset  #000000!important;
    border-top: 1px inset  #000000!important;
  }

  .app-responsive-font {
    font-size: 12px;
  }

  .app-responsive-icon {
    width: 12px;
  }

  .app-divider-row {
    font-size: 12px;
  }

  .app-divider-row button {
    font-size: 12px!important;
  }
}

#loader {
  position: fixed;
  left: 50%;
}

/*.loader {*/
/*  border: 16px solid #f3f3f3; !* Light grey *!*/
/*  border-top: 16px solid #3498db; !* Blue *!*/
/*  border-radius: 50%;*/
/*  width: 120px;*/
/*  height: 120px;*/
/*  animation: spin 2s linear infinite;*/
/*}*/

/*@keyframes spin {*/
/*  0% { transform: rotate(0deg); }*/
/*  100% { transform: rotate(360deg); }*/
/*}*/
