﻿@model IList<HelpContentItem>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Help</title>
  <link rel="stylesheet" href="~/css/site_help.css" asp-append-version="true" />
</head>
<body>
<!-- Photo Grid -->
<div class="row">
  @{
    foreach (var helpContentItem in Model)
    {
      <div class="column">
        <img src="@helpContentItem.ImageUrl" class="image-center">
        <figcaption>@helpContentItem.ImageCaption</figcaption>
      </div>
    }
  }
</div>

</body>
</html>
